<h1>Sessions#index</h1>
<p>Here should be the sign in page</p>
#Currently Not using this Page
<%= form_for @users do |user| %>
<p>
<%= user.label :email%><br />
<%= user.text_field :email%><br />
<%= user.label :password%><br />
<%= user.text_field :password%>
 #<%=link_to "SIGN IN", home_path %>
 <%= link_to "REGISTER", homescreen_path%>
</p>
<% end%>
