<!DOCTYPE html>
<html>
<head>
  <title>Sharebook</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>


<body>
  <div class = "header_wrapper">
    <div class = "logo">   
     <h2> <%= link_to "ShareBook", root_url%></h2>
    </div>
  </div>
  
  <p style = "text-align:right"><%= link_to "REGISTER", new_user_path%> <%=link_to "SIGN IN", :controller =>"users", :action => "index" %></p>
 
  <%= yield %>
  
</body>
</html>
