<h1>Listing posts</h1>
<font color = "blue"><h1 align = "center">Sharebook</h1><font>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Info</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
     <% @posts.each do |post| %>
     <% if post.user_id == current_user.id %>
     <tr>
      <td><%= post.user_id %></td>
      <td><%= post.name %></td>
      <td><%= post.info %></td>
      
      
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
     <% end %>
     <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
